<!DOCTYPE html>
<html>
<head>
  <title>My Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Welcome to Forum Post</h1> <h5>Create your personal post.</h5>

	</header>

<%= yield %>

</body>
</html>
